[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-sudo"]
	path = plugins/sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "plugins/ifplatform"]
	path = plugins/ifplatform
	url = https://github.com/ssbanerje/dotbot-ifplatform.git
